<div class="container-fluid">
  <!-- <h2 class="heading" (click)="show()">Driving History</h2> -->
  <div class="row mt-2">
    <p-card class="col-md-3 text-center">
      <b> Driving History</b>
     </p-card>
    <p-card class="offset-md-1 col-md-2 text-center">
      <b>Driver :</b>  {{customer?.firstname}}
    </p-card>
    <p-card class="col-md-2 text-center">
     <b> IMEI :</b>  {{customer?.imei}}
    </p-card>
    <p-card class="col-md-3 text-center">
     <b> Vehicle : </b>{{customer?.year}} {{customer?.make}} {{customer?.model}}
    </p-card>
</div>

  <div class="row">
    <div class="col-md-4">

      <div class="col-md-12 info calender-box" >
        <span  (click)="previousDate()">
          <span><i class="fa fa-angle-left"></i></span>
        </span>
        <p-calendar [(ngModel)]="tripStartDate" [minDate]="minDate" [maxDate]="maxDate"  dateFormat="DD MM dd ,yy" [showIcon]='true' style ></p-calendar>
        <span class="calender-right col col-1 text-center nopadding" (click)="nextDate()">
          <span><i class="fa fa-angle-right"></i></span>
        </span>
      </div>

      <div class="row col col-12 card" >
        <ul class="list-group list-group-flush">
          <li class="list-group-item" >
              <div class="row">
                <!--<div class="col col-6">
                  <h5>{{tripStartDate | date:'fullDate'}}</h5>
                </div>-->

                <div class="col col-7">
                  <span><b>{{tripsList?.dataArea?.trips.length}} Trips</b></span>
                  <span>{{tripsList?.dataArea?.overallSummary.totalDistance}} mi</span>
                  <span>{{tripsList?.dataArea?.overallSummary.tripDuration}} s</span>
                </div>
              </div>
          </li>
          <li class="list-group-item" *ngFor="let trip of tripsList?.dataArea?.trips"  (click)="showMap(trip)">
            <div class=" d-flex flex-row row mx-0 ">
                <div class="col col-1 ">
                  <div class="circle-green">
                  </div>
                  <div class="line "></div>
              </div>

              <div class="col col-3 ">
                  <div class="medium-m f-semibold-m ">
                    {{trip?.startTime | hour}}
                  </div>
              </div>
              <div class="col-6">
                <div class="cursor">
                    <label class="medium-m f-medium-m"> {{trip?.startLocation | addSpace}}<br>
                    </label>
                </div>
            </div>
          </div>
          <div class="d-flex flex-row row mx-0 ">
              <div class="col col-1 pt-0 ">
                  <div class="circle-red ">
                  </div>
              </div>
              <div class="col col-3 ">
                  <div class="medium-m f-semibold-m ">
                    {{trip?.endTime | hour}}
                  </div>
              </div>
              <div class="col-6">
                <div class="cursor">
                  <!-- [innerHtml]="tripData.endAddress" -->
                    <label class="medium-m f-medium-m" >{{trip?.endLocation | addSpace}}
                    </label>
                </div>
            </div>
            <!-- <div class="col col-2">
              <h1>2</h1>
            </div> -->
          </div>
          </li>


        </ul>

    </div>
    </div>
    <div>
      <!-- <div style="display: inline;" (click)="op.toggle($event)" >Show</div> -->
      <p-overlayPanel #op [showCloseIcon]='true'>
        <ng-template pTemplate>
           <app-event-details></app-event-details>
        </ng-template>
    </p-overlayPanel>
    </div>
    <div class="col-md-8">
      <app-map *ngIf="showTripMap" [trip]="trip" [tripEvents]="tripEvents"></app-map>
    </div>
  </div>
  </div>
